html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.footable-filtering {
    display: none;
}

.error {
    color: red;
}

.success {
    color: green;
}

#overlay {
    position: fixed;
    /* Sit on top of the page content */
    /* Hidden by default */
    width: 100%;
    /* Full width (cover the whole page) */
    height: 100%;
    /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
    z-index: 10;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
    /* display: none; */
}

#spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #ccc;
    border-top-color: #006064;
    z-index: 11;
    border-radius: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    animation: round 2s linear infinite;
}

@keyframes round {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}